:root {
  --medium-gray: #767676;
  --gray: #e1e1e1;
  --lightest-gray: #F0F5F9;
  --white: #ffffff;
  --black: #000000;
  --code-background: #f7f9fc;
  --detail-gray: #f7f7f7;
  --yellow: #ffffdd;
  --deprecated: #ffff9d;
  --dark-deprecated: #dcc100;
  --dark-gray-text-headers: #0D1829;
  --dark-gray-text-body: #1C2A3A;
  --night-medium-gray: #445668;
  --night-background: #030913;
  --night-code-background: #0D1829;
  --night-code-border: #304254;
  --night-text-body: #CAD5E0;
  --night-text-headers: #DCE1E6;
  --night-header: #0D1829;
  --night-deprecated: #333019;
  --serif-font-family: 'Merriweather', 'Book Antiqua', Georgia, 'Century Schoolbook', serif;
  --sans-font-family: 'Lato', sans-serif;
  --mono-font-family: 'Inconsolata', Menlo, Courier, monospace;
  --base-line-height: 1.5em;
  --bg-dark-gray: #0D1829;
  --bg-medium-gray: #1C2A3A;
  --accent-medium-gray: #304254;
  --light-gray: #91A4B7;
  --accent-light-gray: #CAD5E0;
  --night-background-lighten-10: #0a1e3f;
  --night-background-lighten-20: #11336b;
  --night-code-background-lighten-10: #192f50;
  --white-darken-20: #cccccc;
  --code-background-darken-10: #d2ddee;
  --black-alpha-10: rgba(255, 255, 255, 0.1);
  --medium-gray-alpha-10: rgba(118, 118, 118, 0.3);
  --black-alpha-50: rgba(255, 255, 255, 0.5);
}
