blockquote.warning a,
blockquote.error a,
blockquote.info a,
blockquote.neutral a,
blockquote.tip a {
  color: var(--black);
  text-decoration: underline;
  text-decoration-skip-ink: auto;
}
blockquote.warning a:visited,
blockquote.error a:visited,
blockquote.info a:visited,
blockquote.neutral a:visited,
blockquote.tip a:visited {
  color: var(--black);
}
blockquote.warning code,
blockquote.error code,
blockquote.info code,
blockquote.neutral code,
blockquote.tip code {
  background-color: var(--code-background);
  border: 1px solid var(--code-background-darken-10);
}
blockquote.warning {
  background-color: #edd5a5;
}
blockquote.error {
  background-color: #e4aaac;
}
blockquote.info {
  background-color: #a4b8e8;
}
blockquote.neutral {
  background-color: #c6cddb;
}
blockquote.tip {
  background-color: #9dc5aa;
}
blockquote h3.warning::before,
blockquote h3.error::before,
blockquote h3.info::before,
blockquote h3.neutral::before,
blockquote h3.tip::before,
blockquote h4.warning::before,
blockquote h4.error::before,
blockquote h4.info::before,
blockquote h4.neutral::before,
blockquote h4.tip::before {
  color: var(--white);
}
blockquote h3.warning.warning,
blockquote h3.error.warning,
blockquote h3.info.warning,
blockquote h3.neutral.warning,
blockquote h3.tip.warning,
blockquote h4.warning.warning,
blockquote h4.error.warning,
blockquote h4.info.warning,
blockquote h4.neutral.warning,
blockquote h4.tip.warning {
  color: var(--white);
  background-color: #7c4619;
}
blockquote h3.warning.error,
blockquote h3.error.error,
blockquote h3.info.error,
blockquote h3.neutral.error,
blockquote h3.tip.error,
blockquote h4.warning.error,
blockquote h4.error.error,
blockquote h4.info.error,
blockquote h4.neutral.error,
blockquote h4.tip.error {
  background-color: #882738;
}
blockquote h3.warning.info,
blockquote h3.error.info,
blockquote h3.info.info,
blockquote h3.neutral.info,
blockquote h3.tip.info,
blockquote h4.warning.info,
blockquote h4.error.info,
blockquote h4.info.info,
blockquote h4.neutral.info,
blockquote h4.tip.info {
  background-color: #1b176b;
}
blockquote h3.warning.neutral,
blockquote h3.error.neutral,
blockquote h3.info.neutral,
blockquote h3.neutral.neutral,
blockquote h3.tip.neutral,
blockquote h4.warning.neutral,
blockquote h4.error.neutral,
blockquote h4.info.neutral,
blockquote h4.neutral.neutral,
blockquote h4.tip.neutral {
  background-color: #1f2432;
}
blockquote h3.warning.tip,
blockquote h3.error.tip,
blockquote h3.info.tip,
blockquote h3.neutral.tip,
blockquote h3.tip.tip,
blockquote h4.warning.tip,
blockquote h4.error.tip,
blockquote h4.info.tip,
blockquote h4.neutral.tip,
blockquote h4.tip.tip {
  background-color: #1f4034;
}
