body.dark .content-inner h1,
body.dark .content-inner h2,
body.dark .content-inner h3,
body.dark .content-inner h4,
body.dark .content-inner h5,
body.dark .content-inner h6 {
  color: var(--night-text-headers);
}
body.dark .content-inner a {
  text-decoration: none;
  color: var(--night-text-headers);
  text-decoration: underline;
  text-decoration-skip-ink: auto;
}
body.dark .content-inner a:visited {
  color: var(--night-text-headers);
}
body.dark .content-inner a.view-source {
  color: #939393;
  text-decoration: none;
}
body.dark .content-inner a.view-source:hover {
  color: var(--white);
}
body.dark .content-inner .settings {
  color: #939393;
}
body.dark .content-inner .settings:hover {
  color: var(--white);
}
body.dark .content-inner .note {
  color: #939393;
}
body.dark .content-inner .summary h2 a {
  text-decoration: none;
}
body.dark .content-inner img[src*="#gh-light-mode-only"] {
  display: none;
}
