.summary h2 {
  font-weight: 700;
}
.summary h2 a {
  text-decoration: none;
  border: none;
}
.summary span.deprecated {
  color: var(--dark-deprecated);
  font-weight: normal;
  font-style: italic;
}
.summary .summary-row .summary-signature {
  font-family: var(--mono-font-family);
  font-weight: 700;
}
.summary .summary-row .summary-signature a {
  text-decoration: none;
  border: none;
}
.summary .summary-row .summary-synopsis {
  font-family: var(--serif-font-family);
  font-style: italic;
  padding: 0 1.2em;
  margin: 0 0 0.5em;
}
.summary .summary-row .summary-synopsis p {
  margin: 0;
  padding: 0;
}
