body.dark .content-inner code {
  background-color: var(--night-code-background);
  border-color: var(--night-code-background-lighten-10);
}
body.dark .content-inner pre code {
  background-color: var(--night-code-background);
}
body.dark .content-inner pre a,
body.dark .content-inner pre a:visited {
  color: var(--white);
  text-decoration: none;
}
body.dark .content-inner pre a:hover {
  color: var(--main);
}
