@keyframes night-blink-background {
  from {
    background-color: var(--night-header);
  }
  to {
    background-color: var(--accent-medium-gray);
  }
}
body.dark .content-inner .detail:target .detail-header {
  animation-name: night-blink-background;
}
body.dark .content-inner .detail-header {
  background: var(--night-header);
  color: var(--night-text-body);
}
body.dark .content-inner .specs .attribute {
  color: var(--night-medium-gray);
}
body.dark .content-inner div.deprecated {
  background-color: var(--night-deprecated);
}
