.content-inner a.no-underline,
.content-inner pre a {
  color: var(--main-darken-10);
  text-shadow: none;
  text-decoration: none;
  background-image: none;
}
.content-inner a.no-underline:visited,
.content-inner pre a:visited,
.content-inner a.no-underline:active,
.content-inner pre a:active,
.content-inner a.no-underline:focus,
.content-inner pre a:focus,
.content-inner a.no-underline:hover,
.content-inner pre a:hover {
  color: var(--main-darken-20);
  text-decoration: none;
}
.content-inner code {
  background-color: var(--code-background);
  vertical-align: baseline;
  border-radius: 2px;
  padding: 0.1em 0.2em;
  border: 1px solid var(--code-background-darken-10);
  text-transform: none;
}
.content-inner pre {
  margin: var(--base-line-height) 0;
}
.content-inner pre code {
  display: block;
  overflow-x: auto;
  white-space: inherit;
  padding: 0.5em 1em;
  background-color: var(--code-background);
}
