@font-face {
  font-family: 'remixicon';
  src: url('../fonts/remixicon.woff2?t=1590207869815') format('woff2');
  font-display: swap;
}

[class^="ri-"],
[class*=" ri-"],
.remix-icon {
  font-family: 'remixicon';
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.ri-lg {
  font-size: 1.3333em;
  line-height: 0.75em;
  vertical-align: -0.0667em;
}
.ri-settings-3-line:before {
  content: "\f0e6";
}
.ri-add-line:before {
  content: "\ea13";
}
.ri-subtract-line:before {
  content: "\f1af";
}
.ri-arrow-up-s-line:before {
  content: "\ea78";
}
.ri-arrow-down-s-line:before {
  content: "\ea4e";
}
.ri-arrow-right-s-line:before {
  content: "\ea6e";
}
.ri-search-2-line:before {
  content: "\f0cd";
}
.ri-menu-line:before {
  content: "\ef3e";
}
.ri-close-line:before {
  content: "\eb99";
}
.ri-link-m:before {
  content: "\eeaf";
}
.ri-code-s-slash-line:before {
  content: "\ebad";
}
.ri-error-warning-line:before {
  content: "\eca1";
}
.ri-information-line:before {
  content: "\ee59";
}
.ri-alert-line:before {
  content: "\ea21";
}
.ri-double-quotes-l:before {
  content: "\ec51";
}
