body.dark #tooltip {
  box-shadow: 0 0 10px var(--black-alpha-50);
}
body.dark #tooltip .tooltip-body {
  border: 1px solid var(--night-header);
}
body.dark #tooltip .tooltip-body .docstring {
  background: var(--night-background);
}
